@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-title: var(--title);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-float: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

:root {
  --background: hls(0 0% 100%); /* #ffffff */
  --foreground: hls(0 0% 12%); /* #1e1e1e */
  --card: hls(0 0% 100%);
  --card-foreground: hls(0 0% 24%); /* #3d3d3d */
  --popover: hls(0 0% 100%);
  --popover-foreground: hls(0 0% 24%); /* #3d3d3d */
  --primary: hls(0 0% 30%); /* #4d4d4d */
  --primary-foreground: hls(0 0% 100%); /* #ffffff */
  --secondary: hls(0 0% 96%); /* #f5f5f5 */
  --secondary-foreground: hls(0 0% 56%); /* #8e8e8e */
  --muted: hls(0 0% 99%); /* #fbfbfb */
  --muted-foreground: hls(0 0% 79%); /* #cacaca */
  --accent: hls(0 0% 96%); /* #f5f5f5 */
  --accent-foreground: hls(0 0% 24%); /* #3d3d3d */
  --destructive: hls(0 84.2% 60.2%);
  --destructive-foreground: hls(0 0% 98%);
  --title: hls(0 0% 62%); /* #9f9f9f */
  --border: hls(0 0% 96%); /* #f5f5f5 */
  --input: hls(0 0% 94%); /* #f5f5f5 */
  --ring: hls(240 10% 3.9%);
  --chart-1: hls(12 76% 61%);
  --chart-2: hls(173 58% 39%);
  --chart-3: hls(197 37% 24%);
  --chart-4: hls(43 74% 66%);
  --chart-5: hls(27 87% 67%);
  --radius: 0.5rem;
}
.dark {
  --background: hls(240 10% 3.9%);
  --foreground: hls(0 0% 98%);
  --card: hls(240 10% 3.9%);
  --card-foreground: hls(0 0% 98%);
  --popover: hls(240 10% 3.9%);
  --popover-foreground: hls(0 0% 98%);
  --primary: hls(0 0% 98%);
  --primary-foreground: hls(240 5.9% 10%);
  --secondary: hls(240 3.7% 15.9%);
  --secondary-foreground: hls(0 0% 98%);
  --muted: hls(240 3.7% 15.9%);
  --muted-foreground: hls(240 5% 64.9%);
  --accent: hls(240 3.7% 15.9%);
  --accent-foreground: hls(0 0% 98%);
  --destructive: hls(0 62.8% 30.6%);
  --destructive-foreground: hls(0 0% 98%);
  --border: hls(240 3.7% 15.9%);
  --input: hls(240 3.7% 15.9%);
  --ring: hls(240 4.9% 83.9%);
  --chart-1: hls(220 70% 50%);
  --chart-2: hls(160 60% 45%);
  --chart-3: hls(30 80% 55%);
  --chart-4: hls(280 65% 60%);
  --chart-5: hls(340 75% 55%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
